# Creating an Ideal Portfolio
We want to create a top performing portfolio with only the top two industries that have the highest cumulative returns

In [1]:
# Import libraries 
import pandas as pd
import csv 
from pathlib import Path

In [2]:
# Calculate the Average of all Cumulative returns 
Data2 = Path("/Users/kaylahoffman/Desktop/Project1/cumulative_returns_data2.csv")
cumulative2_df = pd.read_csv(Data2)

Data3 = Path("/Users/kaylahoffman/Desktop/Project1/cumulative_returns_data3.csv")
cumulative3_df = pd.read_csv(Data3)

Data4 = Path("/Users/kaylahoffman/Desktop/Project1/cumulative_returns_data4.csv")
cumulative4_df = pd.read_csv(Data4)

Data5 = Path("/Users/kaylahoffman/Desktop/Project1/cumulative_returns_data5.csv")
cumulative5_df = pd.read_csv(Data5)

cumulative5_df.head()

       Tech    Health   Finance  Consumer    Energy   Weapons
0  1.008728  0.993141  1.005302  1.005428  1.004316  0.986915
1  1.008207  0.987585  1.005543  1.001249  1.012429  0.984203
2  1.007360  0.990379  1.006516  0.998206  1.002411  0.996624
3  1.015120  0.993247  1.015985  1.004508  0.998481  0.996085
4  1.020682  0.999116  1.018306  1.014480  0.982589  1.005605

In [3]:
# Combine all cumulative returns data 
combined_df = pd.concat([cumulative2_df,cumulative3_df,cumulative4_df,cumulative5_df], axis='columns', join='inner')
combined_df.head()

,Tech,Health,Finance,Consumer,Energy,Weapons,Tech,Health,Finance,Consumer,...,Finance,Consumer,Energy,Weapons,Tech,Health,Finance,Consumer,Energy,Weapons
0,1.007852,1.001303,0.992906,1.000151,1.023434,1.006039,0.991894,0.992816,0.991742,0.990516,...,1.025447,1.021659,0.992073,1.027340,1.008728,0.993141,1.005302,1.005428,1.004316,0.986915
1,1.012064,0.999187,0.991341,1.004108,1.021412,1.005891,0.982630,0.982573,0.990585,0.996461,...,1.011237,1.053593,0.950269,1.046391,1.008207,0.987585,1.005543,1.001249,1.012429,0.984203
2,1.023741,1.004743,0.995770,1.000402,1.024901,1.013975,0.976864,0.983721,0.987807,0.989536,...,1.044638,1.074168,0.984144,1.039256,1.007360,0.990379,1.006516,0.998206,1.002411,0.996624
3,1.007202,1.000309,0.984229,0.975041,0.998191,1.005037,0.999805,1.002338,1.016070,1.015926,...,1.037218,1.072224,0.989715,1.030855,1.015120,0.993247,1.015985,1.004508,0.998481,0.996085
4,1.017687,1.013161,1.014928,0.994444,1.015002,1.020084,1.005446,1.001559,1.018117,1.018094,...,1.157848,1.096695,1.022494,1.071043,1.020682,0.999116,1.018306,1.014480,0.982589,1.005605

In [4]:
# Assuming df is your DataFrame containing the data
# Extract the "Tech" columns
tech_columns = combined_df.filter(like='Tech')

# Calculate the average of the "Tech" columns
tech_average = tech_columns.mean()
overall = tech_average.sum() / 5

print(tech_average)
print(overall)

Tech    1.139046
Tech    1.174138
Tech    1.308736
Tech    1.240067
dtype: float64
0.9723972752802285

In [5]:
# Assuming df is your DataFrame containing the data
# Extract the "Tech" columns
health_columns = combined_df.filter(like='Health')

# Calculate the average of the "Tech" columns
health_average = health_columns.mean()

overall = health_average.sum() / 5

print(health_average)
print(overall)

Health    1.059886
Health    1.141584
Health    1.189582
Health    1.074223
dtype: float64
0.8930548952193688

In [6]:
# Assuming df is your DataFrame containing the data
# Extract the "Tech" columns
finance_columns = combined_df.filter(like='Finance')

# Calculate the average of the "Tech" columns
finance_average = finance_columns.mean()

overall = finance_average.sum() / 5

print(finance_average)
print(overall)

Finance    1.104709
Finance    1.275499
Finance    1.411394
Finance    0.917627
dtype: float64
0.9418457088461165

In [7]:
# Assuming df is your DataFrame containing the data
# Extract the "Tech" columns
consumer_columns = combined_df.filter(like='Consumer')

# Calculate the average of the "Tech" columns
consumer_average = consumer_columns.mean()
overall = consumer_average.sum() / 5

print(consumer_average)
print(overall)

Consumer    1.050095
Consumer    1.132072
Consumer    1.253006
Consumer    1.136915
dtype: float64
0.9144175533261316

In [8]:
# Assuming df is your DataFrame containing the data
# Extract the "Tech" columns
energy_columns = combined_df.filter(like='Energy')

# Calculate the average of the "Tech" columns
energy_average = energy_columns.mean()

overall = energy_average.sum() / 5
print(energy_average)
print(overall)

Energy    1.078015
Energy    1.001671
Energy    1.209335
Energy    0.940208
dtype: float64
0.8458459779767159

In [9]:
# Assuming df is your DataFrame containing the data
# Extract the "Tech" columns
weapons_columns = combined_df.filter(like='Weapons')

# Calculate the average of the "Tech" columns
weapons_average = weapons_columns.mean()

overall = weapons_average.sum() / 5

print(weapons_average)
print(overall)

Weapons    1.115961
Weapons    1.125488
Weapons    1.195445
Weapons    0.917438
dtype: float64
0.8708664112141189

# Conclusions: Top Performing Industries 
1. Tech = 0.97 
2. Health and Finance = Both tied at 0.94 
3. Consumer = 0.91 
4. Weapons = 0.87 
4. Energy = 0.84

# Monte Carlo Simulations

In [10]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

%matplotlib inline

In [11]:
# Set start and end dates of five years back from today.
# Sample results may vary from the solution based on the time frame chosen
start_date = pd.Timestamp('2018-10-31', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2023-10-31', tz='America/New_York').isoformat()

In [12]:
# Specify the path to your .env file
dotenv_path = '/Users/kaylahoffman/Desktop/Financial_Planning/Module_5_Instructions/Financial_Planning_Code/api.env'

# Load .env enviroment variables
load_dotenv(dotenv_path)

# Load environment variables
load_dotenv(dotenv_path)

# Access Alpaca API key ID
alpaca_api_key_id = os.getenv("APCA_API_KEY_ID")
alpaca_secret_key = os.getenv("APCA_API_SECRET_KEY")

# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key_id,
    alpaca_secret_key,
    api_version="v2")

In [13]:
# Get 5 years' worth of historical data for SPY and AGG
tickers = ["AAPL","GOOG","MSFT","JNJ","PFE","UNH","JPM","BAC","V"]

timeframe = "1Day"

df_ticker = alpaca.get_bars(
    tickers,
    timeframe,
    start=start_date,
    end=end_date,
    limit=10000
).df

# Display sample data 
df_ticker.head()

,close,high,low,trade_count,open,volume,vwap,symbol
timestamp,,,,,,,,
2018-10-31 04:00:00+00:00,218.86,220.45,216.62,301129,216.88,42444508,218.856231,AAPL
2018-11-01 04:00:00+00:00,222.22,222.36,216.81,505926,219.05,59915448,217.683523,AAPL
2018-11-02 04:00:00+00:00,207.48,213.65,205.43,756041,209.55,95135063,208.088580,AAPL
2018-11-05 05:00:00+00:00,201.59,204.39,198.17,569649,204.26,68848036,200.964339,AAPL
2018-11-06 05:00:00+00:00,203.77,204.72,201.69,253890,201.92,34030512,203.264572,AAPL

In [14]:
# Reorganize the DataFrame
AAPL = df_ticker[df_ticker['symbol']=='AAPL'].drop('symbol', axis=1)
GOOG = df_ticker[df_ticker['symbol']=='GOOG'].drop('symbol', axis=1)
MSFT = df_ticker[df_ticker['symbol']=='MSFT'].drop('symbol', axis=1)
JNJ = df_ticker[df_ticker['symbol']=='JNJ'].drop('symbol', axis=1)
PFE = df_ticker[df_ticker['symbol']=='PFE'].drop('symbol', axis=1)
UNH = df_ticker[df_ticker['symbol']=='UNH'].drop('symbol', axis=1)
JPM = df_ticker[df_ticker['symbol']=='JPM'].drop('symbol', axis=1)
BAC = df_ticker[df_ticker['symbol']=='BAC'].drop('symbol', axis=1)
V = df_ticker[df_ticker['symbol']=='V'].drop('symbol', axis=1)

# Concatenate the ticker DataFrames
df_ticker = pd.concat([AAPL,GOOG,MSFT,JNJ,PFE,UNH,JPM,BAC,V], axis=1, keys=["AAPL","GOOG","MSFT","JNJ","PFE","UNH","JPM","BAC","V"])

# Display sample data
df_ticker.head()

                             AAPL                                      \
                            close    high     low trade_count    open
timestamp
2018-10-31 04:00:00+00:00  218.86  220.45  216.62      301129  216.88
2018-11-01 04:00:00+00:00  222.22  222.36  216.81      505926  219.05
2018-11-02 04:00:00+00:00  207.48  213.65  205.43      756041  209.55
2018-11-05 05:00:00+00:00  201.59  204.39  198.17      569649  204.26
2018-11-06 05:00:00+00:00  203.77  204.72  201.69      253890  201.92

                                                    GOOG                     \
                             volume        vwap    close      high      low
timestamp
2018-10-31 04:00:00+00:00  42444508  218.856231  1076.77  1091.940  1057.00
2018-11-01 04:00:00+00:00  59915448  217.683523  1070.00  1083.975  1062.46
2018-11-02 04:00:00+00:00  95135063  208.088580  1057.79  1082.975  1054.61
2018-11-05 05:00:00+00:00  68848036  200.964339  1040.09  1058.470  1021.24
2018-11-06 05:00:00+00:00  34030512  203.264572  1055.81  1064.345  1038.07

                           ...    BAC                           V           \
                           ...   open     volume       vwap close high low
timestamp                  ...
2018-10-31 04:00:00+00:00  ...  27.06  100829076  27.559997   NaN  NaN NaN
2018-11-01 04:00:00+00:00  ...  27.77   53269150  27.779776   NaN  NaN NaN
2018-11-02 04:00:00+00:00  ...  28.01   72947599  27.868507   NaN  NaN NaN
2018-11-05 05:00:00+00:00  ...  27.95   46601234  28.072948   NaN  NaN NaN
2018-11-06 05:00:00+00:00  ...  28.02   48358851  28.089798   NaN  NaN NaN


                          trade_count open volume vwap
timestamp
2018-10-31 04:00:00+00:00         NaN  NaN    NaN  NaN
2018-11-01 04:00:00+00:00         NaN  NaN    NaN  NaN
2018-11-02 04:00:00+00:00         NaN  NaN    NaN  NaN
2018-11-05 05:00:00+00:00         NaN  NaN    NaN  NaN
2018-11-06 05:00:00+00:00         NaN  NaN    NaN  NaN

[5 rows x 63 columns]

In [17]:
# Create and empty DataFrame for closing prices
df_closing_prices = pd.DataFrame()

# Fetch the closing prices of KO and TSLA
df_closing_prices["AAPL"] = df_ticker["AAPL"]["close"]
df_closing_prices["GOOG"] = df_ticker["GOOG"]["close"]
df_closing_prices["MSFT"] = df_ticker["MSFT"]["close"]
df_closing_prices["JNJ"] = df_ticker["JNJ"]["close"]
df_closing_prices["PFE"] = df_ticker["PFE"]["close"]
df_closing_prices["UNH"] = df_ticker["UNH"]["close"]
df_closing_prices["JPM"] = df_ticker["JPM"]["close"]
df_closing_prices["BAC"] = df_ticker["BAC"]["close"]
df_closing_prices["V"] = df_ticker["V"]["close"]

# Drop the time component of the date
df_closing_prices.index = df_closing_prices.index.date

# Ensure the index is in datetime format
df_closing_prices.index = pd.to_datetime(df_closing_prices.index)

# Calculate the average closing price of column 'V'
average_v_closing_price = df_ticker['V'].mean()

# Fill only the missing values in the 'V' column with the average closing price
df_ticker['V'].fillna(average_v_closing_price, inplace=True)

df_closing_prices

/var/folders/09/73wvt1t102l9g7hdmc9gkxzm0000gn/T/ipykernel_40519/2924862736.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker['V'].fillna(average_v_closing_price, inplace=True)
/var/folders/09/73wvt1t102l9g7hdmc9gkxzm0000gn/T/ipykernel_40519/2924862736.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker['V'].fillna(average_v_closing_price, inplace=True)
/var/folders/09/73wvt1t102l9g7hdmc9gkxzm0000gn/T/ipykernel_40519/2924862736.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker['V'].fillna(average_v_closing_price, inplace=True)
/var/folders/09/73wvt1t102l9g7hdmc9gkxzm0000gn/T/ipykernel_40519/2924862736.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker['V'].fillna(average_v_closing_price, inplace=True)
/var/folders/09/73wvt1t102l9g7hdmc9gkxzm0000gn/T/ipykernel_40519/2924862736.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker['V'].fillna(average_v_closing_price, inplace=True)
/var/folders/09/73wvt1t102l9g7hdmc9gkxzm0000gn/T/ipykernel_40519/2924862736.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker['V'].fillna(average_v_closing_price, inplace=True)
/var/folders/09/73wvt1t102l9g7hdmc9gkxzm0000gn/T/ipykernel_40519/2924862736.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ticker['V'].fillna(average_v_closing_price, inplace=True)

              AAPL     GOOG    MSFT     JNJ    PFE     UNH     JPM    BAC   V
2018-10-31  218.86  1076.77  106.81  139.99  43.06  261.35  109.02  27.50 NaN
2018-11-01  222.22  1070.00  105.92  140.82  43.67  260.93  108.98  27.81 NaN
2018-11-02  207.48  1057.79  106.16  140.68  42.93  261.01  108.38  27.89 NaN
2018-11-05  201.59  1040.09  107.51  142.20  43.52  261.01  109.09  28.06 NaN
2018-11-06  203.77  1055.81  107.72  142.57  43.01  263.54  109.60  28.21 NaN
...            ...      ...     ...     ...    ...     ...     ...    ...  ..
2023-10-25  171.10   126.67  340.67  151.57  30.73     NaN  140.40  25.55 NaN
2023-10-26  166.89   123.44  327.89  149.00  31.16     NaN  140.76  26.12 NaN
2023-10-27  168.22   123.40  329.81  145.60  30.11     NaN  135.69  25.17 NaN
2023-10-30  170.29   125.75  337.31  147.03  30.55     NaN  137.42  25.69 NaN
2023-10-31  170.77   125.30  338.11  148.34  30.56     NaN  139.06  26.34 NaN

[1258 rows x 9 columns]

In [ ]:
# Configuring a Monte Carlo simulation to forecast 30 years cumulative returns
# Weights for each stock are assumed to be equal 
MC_thirty_year = MCSimulation(
    portfolio_data = df_ticker,
    num_simulation = 500,
    num_trading_days = 252*30
)

In [ ]:
# Printing the simulation input data
MC_thirty_year.portfolio_data.head()

In [ ]:
# Running a Monte Carlo simulation to forecast 30 years cumulative returns
MC_thirty_year.calc_cumulative_return()

In [ ]:
# Plot simulation outcomes
line_plot = MC_thirty_year.plot_simulation()